.background{
    background-color: aliceblue;
    height: 100vh;
    width: 100%;
    position: relative;
}

.danger-border{
    border : 1px solid red !important;
}

#form{
    box-shadow: 0 0 1px 1px;
    border-radius: 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
    border: 1px solid rgb(32, 31, 31);
    border-radius: 2px;
    padding: 10px;
    justify-content: space-between;
    position: absolute;
    transform: translate(50%);
    top : 25%;
    background-color: #fff;
}

#submit-btn{
    border-radius: 20px;
    margin-top: 10px;
    background-color: #567189;
    padding: 5px;
    color: #fff;
    cursor: pointer;
    font-weight: 600;
    font-size: medium;

}

.text-center{
    text-align: center;
}

.form-control > input {
    border: 0;
    height: 30px;
    border-left: 5px solid #567189;
    outline: none;
    padding: 5px 10px;
    margin-top: 5px;
}

.form-control{
    margin: 10px 0;
    display: flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 500;

}

.category-input{
    border-bottom: 1px solid #33333330;
}

#banner{
    padding: 10px;
    width: 100%;
    box-shadow: 1px 1px 1px;
    text-align: center;
    font-weight: 600;
    font-size: x-large;
    background: #000000cc;
    color: white;
    top: -2px;
    position: relative;
}

.category-input h5{
    padding: 5px;
    border-bottom: 1px solid #567189;
}

.purple-color{
    color: #567189;
}

.info-text{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.anchor-style{
    text-decoration: none;
    color: #567189;
    font-weight: 600;
}

.border-bottom{
    border-bottom: 1px solid #cecaca;
    padding:  2px 0;
}


/* ---------------------------------------------------------css for dashboard --------------------------------------------------------- */
.sidebar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed; /* position the sidebar fixed on the page */
    top: 0; /* position the sidebar at the top of the page */
    bottom: 0; /* make the sidebar the full height of the page */
    left: 0; /* position the sidebar on the left of the page */
    width: 200px; /* set the width of the sidebar */
    height: 100%;
}
.anchors-container{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sidebar a {
    color: #fff;
    text-decoration: none;
    text-align: center;
    margin-right: 10px;
    display: block; 
    padding: 10px; 
}
.sidebar a:hover{
    background-color: #ddd;
    color: #333;
}

.sidebar p{
    text-align: center;
}

.display-flex{
    display: flex;
}

.content-wrapper{
    width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}

.content {
    margin: 2px 0px 20px 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
}

th {
    background-color: #eee;
}

.logo{
    border-bottom: 1px solid rgb(122, 120, 120);
    background-color: #567189;
}

.heading-btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.button {
    padding: 8px 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    
}

.edit-button:hover {
    background-color: #f5f5f5;
}

.delete-button:hover {
    background-color: rgb(220, 28, 15);
}


.edit-button:hover {
    background-color: rgb(220, 152, 15);
}


button a{
    color: #333;
    text-decoration: none;
}



.flex-center {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.card-container{
    display: flex;
    justify-content: center;
}

.card-create{
    border: 2px solid #333;
    width: 90%;
    border-radius: 10px;

}

.card-heading{
    background-color: #567189;

}
.card-heading h2{
    margin: 0;
}

.rounded-top {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 5px;
}

.center-text{
    text-align: center;
}

.center-text i:hover{
    color: rgb(224, 8, 8);
    cursor: pointer;
    transform: scale(2);
}

.center-text a{
    text-decoration: none;
    color: #333;
}

tr , td{
    cursor: pointer;
}

